<header class="site-header site-header-negro">
  <div class="header-container">
    <a asp-controller="Home" asp-action="About" class="logo">
      <img src="~/images/totoro.png" alt="Totoro" />
    </a>
    <nav>
      <a asp-controller="Home" asp-action="Movies" class="btn-custom-negro"> Peliculas</a>
      <a asp-controller="Home" asp-action="Contact" class="btn-custom-negro">Contacto</a>
    </nav>
  </div>
</header>
