<header class="site-header">
  <div class="header-container">
    <a asp-controller="Home" asp-action="About" class="logo">
      <img src="~/images/totoro.png" alt="Totoro" />
    </a>
    <nav>
      <a asp-controller="Home" asp-action="Index" class="hero-button">Inicio</a>
      <a asp-controller="Home" asp-action="Privacy">Descripciones</a>
    </nav>
  </div>
</header>
