<header class="site-header">
  <div class="header-container">
    <a asp-controller="Home" asp-action="About" class="logo">
      <img src="~/images/totoro.png" alt="Totoro" />
    </a>
    <nav>
      <a asp-controller="Home" asp-action="Movies" class="btn-custom"> Peliculas</a>
      <a asp-controller="Home" asp-action="Contact" class="btn-custom">Contacto</a>
    </nav>
  </div>
  <hr>
</header>
