<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>@ViewData["Title"] - Studio Ghibli</title>
  <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="overflow-hidden">

  @await Html.PartialAsync("_Header")

  <div>
    @RenderBody()
  </div>

  @await Html.PartialAsync("_Footer")

  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
