<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>@ViewData["Title"] - Studio Ghibli</title>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap" rel="stylesheet"/>
  <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="overflow-hidden">

  @{
    var headerPartial = (string?)ViewData["HeaderPartial"] ?? "_Header";
  }
  @await Html.PartialAsync(headerPartial)

  <div>
    @RenderBody()
  </div>

  @await Html.PartialAsync("_Footer")

  <script src="~/lib/jquery/dist/jquery.js"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
