@{
    ViewData["Title"] = "About";
}

<div class="hero" style="background-image: url('/carrousel/fondo1.jpeg'),url('/carrousel/fondo2.jpeg'),url('/carrousel/fondo3.jpeg'),url('/carrousel/fondo4.jpg');">
  <div class="hero-content">
    <div class="hero-description">
      <h1>Gabriel León & Kevin Tejeda</h1>
      <p>
        Presentación de la colección de películas del Studio Ghibli. 
        Aquí verás las historias detrás de cada clásico, sus personajes 
        y la magia que ha enamorado al mundo.
      </p>
    </div>
  </div>
</div>
