@{
    ViewData["Title"] = "About";
}

<div class="hero">

  <div class="slides">
    <div class="slide active"
         style="background-image: url('/carrousel/fondo1.jpg');">
    </div>
    <div class="slide"
         style="background-image: url('/carrousel/fondo2.jpg');">
    </div>
    <div class="slide"
         style="background-image: url('/carrousel/fondo3.jpg');">
    </div>
    <div class="slide"
         style="background-image: url('/carrousel/fondo4.jpg');">
    </div>
        <div class="slide"
         style="background-image: url('/carrousel/fondo5.jpg');">
    </div>
        <div class="slide"
         style="background-image: url('/carrousel/fondo6.jpg');">
    </div>
  </div>
  
    <div class="hero-description">
      <h1>Gabriel León & Kevin Tejeda</h1>
      <p>
        Presentación de la colección de películas del Studio Ghibli. 
        Aquí verás las historias detrás de cada clásico, sus personajes 
        y la magia que ha enamorado al mundo.
      </p>
    </div>

</div>
