@{
    ViewData["Title"] = "About";
}

<div class="d-flex justify-content-between align-items-center">
    <div class="about-image">
        <img src="~/images/noface.png" alt="No Face" class="img-fluid">
    </div>
    <div class="about-text">
        <h1>Gabriel Leon & Kevin Tejeda</h1>
        <br><br>
        <p>Presentación de la colección de películas del Studio Ghibli</p>
        <p>Este proyecto tiene como objetivo mostrar la amplia colección de películas del Studio Ghibli, un estudio de animación japonés reconocido mundialmente por sus trabajos de alta calidad y sus narrativas emotivas.<br><br> Dentro de la colección de películas de este gran estudio podemos encontrar clásicos de la animación como por ejemplo "Mi vecino Totoro" o "El viaje de Chihiro". Aquí podrás encontrar información detallada sobre cada película, incluyendo descripciones, directores, fechas de lanzamiento y los personajes que dan vida a estas maravillosas historias.</p>
    </div>
    <div class="about-image">
        <img src="~/images/studiologo.png" alt="Studio Ghibli Logo" class="img-fluid">
    </div>
</div>
