@{
    ViewData["Title"] = "Home";
}

<div class="hero">
  <div class="slides">
    <div class="slide active"
         style="background-image: url('/carrousel/fondo1.jpg');">
    </div>
    <div class="slide"
         style="background-image: url('/carrousel/fondo2.jpg');">
    </div>
    <div class="slide"
         style="background-image: url('/carrousel/fondo3.jpg');">
    </div>
    <div class="slide"
         style="background-image: url('/carrousel/fondo4.jpg');">
    </div>
        <div class="slide"
         style="background-image: url('/carrousel/fondo5.jpg');">
    </div>
        <div class="slide"
         style="background-image: url('/carrousel/fondo6.jpg');">
    </div>
  </div>

  <div class="overlay">
    <div class="buttons">
      <a asp-controller="Home" asp-action="Index">Botón 1</a>
      <a asp-controller="Home" asp-action="Privacy">Botón 2</a>
    </div>
    <div class="description">
      <h2>Bienvenido a Studio Ghibli</h2>
      <p>
        Aquí podrás descubrir la magia de cada película,
        conocer su historia y a los maravillosos personajes
        que han capturado nuestros corazones.
      </p>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/js/hero-slider.js" asp-append-version="true"></script>
}
